<header>
    <div class="header-content">
        <h1 class="mr-sm-4" style="cursor: pointer;">Movie Recommendation System</h1>
        <nav>
            <div>
                {%if user.is_authenticated%}
                <div class="form-inline">
                    <form action="{% url 'recommend'%}" method="POST">
                        {% csrf_token %}
                        <input class="form-control mr-sm-1" type="text" id="tags" placeholder="Search...
                            " name="movie_name" required>
                        <button class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" type="submit">Search</button>
                    </form>
                    <input class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" type="button" value="Logout"
                        onclick="location.href='{% url 'logout' %}'" />
                </div>
                {%else%}
                <input class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" type="button" value="Login"
                    onclick="location.href='{% url 'home' %}'" />
                <input class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" type="button" value="SignUp"
                    onclick="location.href='{% url 'signup' %}'" />
                {%endif%}
            </div>
        </nav>
    </div>
    
    <script>
        // $(function () {
        // var availableTags = {{ names|safe }};
        // $("#tags").autocomplete({
        //     source: availableTags
        // });
        //   } );

        $(function () {
                $.ajax({
                    url: '{% url 'autocomplete' %}'
                }).done(function (data) {
                    console.log(data);
                    $('#tags').autocomplete({
                        source: data,
                        minLength: 1
                    });
                });
            });
    </script>
</header>



